apiVersion: v1
kind: Deployment
metadata:
  name: myapp-deployment
  labels:
    app: myapp
    type: myapp-deployment
spec:
  selector:
    matchLabels:
      app: myapp
  replicas: 5
  template:
    metadata:
      name: myapp
      labels:
        name: myapp
        app: myapp
    spec:
      containers:
        - name: myapp
          image: nginx
    