apiVersion: v1
kind: Pod
metadata:
  name: myapp
spec:
  containers:
    - name: myapp
      image: myapp
      ports:
        - containerPort: 8080
      envFrom:
        - configMapRef:
            name: app-config